{
  "openapi": "3.0.3",
  "info": {
    "title": "Solana Agent Website API",
    "description": "Agent-native API for swap (SOL→BTC). All responses are JSON. Quickstart: GET openapi.json → follow swap flow → poll status if needed. Rate limits: LI.FI ~200 req/2h; swap min from GET /api/swap/min. Poll status endpoints instead of guessing.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://www.solanaagent.app", "description": "Production" }],
  "paths": {
    "/api/swap/min": {
      "get": {
        "summary": "Minimum SOL and balance for swap",
        "operationId": "swapMin",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["minAmountSol", "balanceSol"],
                  "properties": {
                    "minAmountSol": { "type": "number", "description": "Minimum SOL for SOL→BTC swap" },
                    "balanceSol": { "type": "number", "nullable": true, "description": "Reserve SOL balance" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/estimate": {
      "get": {
        "summary": "Estimate BTC (sats) for SOL amount",
        "operationId": "swapEstimate",
        "parameters": [
          { "name": "amountSol", "in": "query", "required": true, "schema": { "type": "number", "minimum": 0.001 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["amountSol", "estimatedBtcSats"],
                  "properties": {
                    "amountSol": { "type": "number" },
                    "estimatedBtcSats": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/api/swap/create": {
      "post": {
        "summary": "Create SOL→BTC swap (initiated immediately)",
        "description": "Funds from reserve Solana wallet (server signs). BTC is sent to the reserve Bitcoin address. No user signature. Custodial reserve operation.",
        "operationId": "swapCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amountSol"],
                "properties": {
                  "amountSol": { "type": "number", "minimum": 0.001 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap initiated; agent can disconnect. Poll GET /api/swap/status/{id} only if completion status needed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["initiated", "id", "status"],
                  "properties": {
                    "initiated": { "type": "boolean", "example": true },
                    "id": { "type": "string", "description": "Solana tx signature; use for status poll" },
                    "amountSol": { "type": "number" },
                    "expectedBtcSats": { "type": "number" },
                    "solanaSignature": { "type": "string" },
                    "status": { "type": "string", "enum": ["waiting"] },
                    "statusUrl": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/api/swap/status/{id}": {
      "get": {
        "summary": "Poll swap status",
        "operationId": "swapStatus",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Solana transaction signature" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "status"],
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string", "enum": ["waiting", "finished", "failed"] },
                    "amountSol": { "type": "number", "nullable": true },
                    "btcSats": { "type": "number", "nullable": true }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/reserves": {
      "get": {
        "summary": "Reserve addresses and balances",
        "operationId": "reserves",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bitcoin": { "type": "object", "properties": { "address": { "type": "string" }, "balanceBtc": { "type": "number" }, "balanceSat": { "type": "number" } } },
                    "solana": { "type": "object", "properties": { "address": { "type": "string" }, "balanceSol": { "type": "number" } } }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error_code", "error"],
        "properties": {
          "error_code": { "type": "string", "description": "Machine-readable code" },
          "error": { "type": "string", "description": "Human-readable message" },
          "action": { "type": "string", "description": "Suggested action for agent" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service unavailable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "UpstreamError": {
        "description": "Upstream (LI.FI/Solana) error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "x-flows": {
    "swap_sol_to_btc": [
      "1. GET /api/swap/min → check balance and minimum",
      "2. GET /api/swap/estimate?amountSol=X → get estimatedBtcSats",
      "3. POST /api/swap/create with { amountSol: X }",
      "4. Response: initiated=true, id (Solana tx signature). Agent may disconnect.",
      "5. (Optional) GET /api/swap/status/{id} → status: waiting | finished | failed"
    ]
  }
}
